@model CardSetFiltersViewModel
@using FlashCards.Models.Types.Enums
@using FlashCards.Helpers

@{
	var filtersApplied = Model.FiltersAplied;
}

<div class="col-12 accordion" id="accordionFilters">
	<div class="accordion-item px-0">
		<h2 class="accordion-header" id="headingOne">
			<button id="filtersAccordionButton"
				class="accordion-button text-light px-0 @(filtersApplied ? "" : "collapsed")" type="button"
				data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="@filtersApplied.ToString()"
				aria-controls="collapseOne">
				<strong>Filters</strong>
				<span class="ms-auto me-0 filters-accordion-text">@(filtersApplied ? "collapse" : "expand" )</span>
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse px-0 @(filtersApplied ? "show" : "")"
			aria-labelledby="headingOne" data-bs-parent="#accordionFilters">
			<form id="filtersForm" class="col-12 offset-sm-1 col-sm-10 offset-xxl-0 col-xxl-12 p-0">
				<div class="row m-0 p-0 d-flex justify-content-around">
					<div class="col-12 col-md-6 col-xxl mt-3 mt-xxl-0 ps-xxl-0">
						<div class="form-floating">
							<input id="nameInput" asp-for="Name" class="form-control flex-grow-1" type="text" />
							<label class="text-light" for="nameInput">Set name</label>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xxl mt-3 mt-xxl-0">
						<div class="form-floating">
							<input id="authorInput" asp-for="Author" class="form-control" type="text" />
							<label class="text-light" for="authorInput">Author nickname</label>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xxl mt-3 mt-xxl-0">
						<div class="form-floating">
							@* Displaying select this way to use Text names instead of numbers in URL for Enum options
							*@
							<select id="numberOfCardsSelect" class="form-select" asp-for="NumberOfCards">
								<option value="">-</option>
								@foreach (var option in Enum.GetValues<SetsNumberOfCards>())
								{
									<option value="@option">@EnumExtensionMethods.GetDisplayName(option)</option>
								}
							</select>
							<label for="numberOfCardsSelect" class="text-light">Number of cards in set</label>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xxl mt-3 mt-xxl-0">
						<div class="form-floating">
							@* Displaying select this way to use Text names instead of numbers in URL for Enum options
							*@
							<select id="sortSelect" class="form-select" asp-for="SortBy">
								@foreach (var option in Enum.GetValues<SetsSortBy>())
								{
									<option value="@option">@EnumExtensionMethods.GetDisplayName(option)</option>
								}
							</select>
							<label class="text-light" for="sortSelect">Sort by</label>
						</div>
					</div>
					<div
						class="col-12 col-xxl-2 text-center mt-3 mt-xxl-0 d-flex justify-content-center align-items-center justify-content-xxl-end pe-0">
						<button id="clearFiltersButton" class="btn btn-secondary">Clear</button>
						<button id="filterButton" type="submit" class="btn btn-info ms-2"
							asp-action="@((string)ViewContext.RouteData.Values["action"])">Apply</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="~/js/defaultFilters.js"></script>