@model IEnumerable<CardCategory>

<li class="nav-item dropdown">
	<a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Browse sets
	</a>
	<div class="dropdown-menu dropdown-multicol">
		<div class="dropdown-col">
			@foreach (var category in Model)
			{
				<a class="dropdown-item text-dark category-item @(category.Id == Model.First().Id?"selected":"")"
				data-categoryId="@category.Id"  asp-controller="Cards" asp-action="Category" 
				asp-route-categoryName="@category.Name" asp-route-page="1">@category.Name<i class="bi bi-caret-right-fill"></i>
				</a>
			}
		</div>
		@foreach (var category in Model)
		{
			<div id="subjects-@category.Id" class="dropdown-col @(category.Id == Model.First().Id?"visible-item":"hidden-item")">
				@foreach (var subject in category.CardSubjects.Take(4))
				{
					<a class="dropdown-item text-dark" asp-controller="Cards" asp-action="Subject" asp-route-categoryName="@category.Name" asp-route-subjectName="@subject.Name" asp-route-page="1">@subject.Name</a>
				}
				<a class="dropdown-item text-dark highlight" asp-controller="Cards" asp-action="Category" asp-route-categoryName="@category.Name" asp-route-page="1">See all</a>
			</div>
		}
	</div>
</li>

<script>
		document.addEventListener('DOMContentLoaded', function (event) {
		let categoryItems = document.querySelectorAll('.category-item');
		categoryItems.forEach(item => {
			item.addEventListener('mouseover', event => {
				const currentCategory = document.querySelector(".visible-item").getAttribute("id");
				const currentCategoryId = currentCategory[currentCategory.length - 1];
				document.querySelector(`#subjects-${currentCategoryId}`).classList.remove('visible-item');
				document.querySelector(`#subjects-${currentCategoryId}`).classList.add('hidden-item');
				document.querySelector(`a.category-item.selected`).classList.remove('selected');
				item.classList.add('selected');

				const categoryId = item.getAttribute('data-categoryId');
				document.querySelector(`#subjects-${categoryId}`).classList.remove('hidden-item');
				document.querySelector(`#subjects-${categoryId}`).classList.add('visible-item');
			})
		})
	});
</script>