@model SetsPageViewModel

<div class="row mx-3">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active text-light" aria-current="page">Sets</li>
			</ol>
		</nav>
	</div>
</div>
<div class="row mx-3">
	<div class="col-12">
		<div class="cat-sub-title rounded text-dark py-4 px-5">
			<p class="lead">Public</p>
			<p class="display-6"><strong>Flashcard sets</strong></p>
		</div>
	</div>
</div>
<div class="row mx-3 d-flex justify-content-center">
	<div class="col-12">
		<div>
			<p class="my-3 text-light"><strong>Specific category?</strong></p>
			<div class="pb-3 subject-category-buttons">
				@foreach (var category in Model.CardCategories)
				{
					<a class="btn btn-primary different-cat-sub text-light" asp-action="Category"
					asp-route-categoryName="@category.Name" asp-route-page="1" asp-route-Name="@Model.Filters.Name"
					asp-route-NumberOfCards="@Model.Filters.NumberOfCards" asp-route-Author="@Model.Filters.Author"
					asp-route-Sort="@Model.Filters.SortBy">
						@category.Name
					</a>
				}
			</div>
		</div>
	</div>
</div>
<div class="row mx-3">
	<partial name="_SetsFilters" model="@Model.Filters" />
</div>
<div class="row mx-3">
	<partial name="_CardSetList" model="@Model.CardSetListData" />
	<partial name="_DefaultListPagination" model="@Model.Pagination" />
</div>
<partial name="_ModalPreviewCardSet" />
